.header {
  display: var(--dsp-f);
  flex-flow: var(--f-ff-cnw);
  align-items: var(--f-ai-c);

  box-sizing: var(--bs-bb);   
  
  width: var(--w-10);
  padding: var(--ctn-15);
  
  background-color: var(--c-green);  

  border-bottom: var(--bd-1);
}

.header__logo {
  margin-bottom: var(--mg-b-15);
}

.header__navigation{
  display: var(--dsp-f);
  flex-flow: var(--f-ff-cnw);
  align-items: var(--f-ai-c);
}

.header__linklist{
  display: var(--dsp-f);
  flex-flow: var(--f-ff-rw);
  justify-content: var(--f-jc-se);
}

.header__link{
  padding: 1rem .5rem;
}

.header__link a{
  display: var(--dsp-b);
  
  font-family: var(--ft-f-2);
  font-size: var(--ft-s-15);
  font-weight: var(--ft-w-7);
  line-height: var(--txt-lh-120);
  color: var(--c-white);
}

.header__link a:hover{
  color: var(--c-black);
}