.principal  {
  display: var(--dsp-f);
  flex-flow: var(--f-ff-cnw);
  align-items: var(--f-ai-c);
  text-align: var(--txt-a-c);
  color: var(--c-white);
  
  padding: var(--ctn-25);
  
  background-color: var(--c-green);
}

.principal__title {
  font-family: var(--ft-f-1);
  font-size: var(--title-1-fs);
  font-weight: var(--ft-w-7);
  line-height: var(--title-1-lh);
  text-align: var(--txt-a-c);
  text-transform: var(--txt-t-uc);
  color: var(--c-black);

  width: var(--w-7);

  margin-bottom: var(--mg-b-25);
}

.principal__text {
  font-family: var(--ft-f-1);
  font-size: var(--text-3-fs);
  line-height: var(--text-3-lh);
  color: var(--c-white);

  margin-bottom: var(--mg-b-25);
}


.principal__button{
  color: var(--c-white);

  background-color: var(--c-black);  
}