.principal  {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    
    background-color: #04bcb3;

    padding: 3.5rem 2.5rem;
    
    color: #FFF;
    text-align: center;
}

.principal__title {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.4rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  line-height: 120%;
  color: #000;

  width: 70%;

  margin-bottom: 1.5rem;
}

.principal__text {
  font-size: 1.4rem;
  line-height: 200%;

  margin: 0 auto 2.5rem;
}

.principal__button{
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #000;

  width: 100%;
  height: 5rem;

  border-radius: .5rem;
}


.principal__button a{
  font-size: 1.4rem;;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #FFF;

  flex-grow: 1;
}